.auth-window {
    background-color: #94B7E3;
}

.auth-window-form {
    overflow: hidden;
    margin: 0 auto;
    width: 1280px;
    height: 700px;
    background: linear-gradient(180deg, #00224E 0%, #416695 100%);
    border-radius: 30px;

    transition: width 500ms;
}


.main-header {
    position: absolute;
    width: 500px;
    height: 34px;
    left: 87px;
    top: 227px;
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    align-items: center;

    color: #FFFFFF;
}

.main-header b {
    font-weight: bold;
}

.subheader {
    position: absolute;
    width: 196px;
    height: 13px;
    left: 93px;
    top: 298px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}


.login-form {
    width: 350px;
    height: 530px;
    margin-left: 222px;
    margin-top: 66px;

    border-radius: 6px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

    transition: margin-left, 500ms;
}

.logo {
    position: absolute;
    margin-left: 35px;
    margin-top: 20px;
}

form {
    width: 280px;
    position: absolute;
    margin-left: 35px;
    margin-top: 142px
}

.login-form-element-checkbox {
    height: 26px;
    margin-bottom: 20px;
}

.login-form-element {
    height: 59px;
    margin-bottom: 48px;
}


.submit-button {
    border: none;
    padding: unset;
    width: 280px;
    height: 48px;
    background: linear-gradient(89.99deg, #FA9F4F 0%, #FA827C 36.22%, #FF6961 61.45%, #FF8D29 100%);
    background-position: left;
    background-size: 200%;
    border-radius: 12px;
    text-align: center;

    transition: background-position 500ms;
}

.submit-button:hover {
    background-position: right;
    box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.25), inset -4px -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.submit-button:hover .submit-button-text {
    font-weight: 500;
}

.submit-button:active {
    background: linear-gradient(90deg, #FF6961 0%, #FF8D29 100%);
    box-shadow: inset 4px 4px 10px rgba(132, 74, 24, 0.75), inset -4px -4px 8px rgba(255, 255, 255, 0.75);
}

* {
    outline: none !important;
}

.submit-button-text {
    margin-top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    color: #FFFFFF;
}

input[type="password"], input[type="email"] {
    position: absolute;
    width: 100%;
    border: none;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-top: 25px;

    border-bottom: 1px solid #BDBDBD;
    outline: none;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #BDBDBD;

    transition: border-bottom-color 500ms, color 500ms;
}

input::placeholder {
    transition: color 500ms;
    color: #BDBDBD;
}

.login-form-element input:hover, input:hover::placeholder {
    border-color: #416695;
    color: #416695;
}

.login-form-element input:focus, input:focus::placeholder {
    color: #00224E;
    border-color: #00224E;
}

label {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
    transition: color 500ms;
}

.login-form-element input:focus + label {
    color: #00224E;
}

.login-form-element input:hover + label {
    color: #416695;
}

a {
    float: right;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    align-items: center;
    color: #828282 !important;
    transition: color 500ms;
}

a:hover {
    color: #FF8D29 !important;
    cursor: pointer;
}

.login-form-element-checkbox input {
    height: 26px;
    vertical-align: middle;
}

.login-form-element-checkbox label {
    margin-left: 10px;
    line-height: 27px;
    vertical-align: middle;
}

.login-form-element-checkbox input:hover + label {
    color: #416695;
}

.images-container {
    position: absolute;
    width: inherit;
    height: inherit;
    overflow: hidden;
    border-radius: 30px;
}

.images-container img {
    position: absolute;
}

.circle-huge {
    top: -165px;
    transition: top, left 500ms;
}

.circle-medium {
    padding-left: 379px;
    transition: top, padding-left 500ms;
}

.line-checked {
    padding-top: 390px;
    transition: z-index, padding-top ease-out 1000ms;
}

.meteor-huge {
    padding-left: 568px;
    transition: padding-left 500ms;
}

.meteor-small {
    padding-left: 599px;
    transition: padding-left 500ms;
}

.meteor-small-left {
    padding-top: 3px;
    padding-left: 758px;
    transition: padding-left 500ms;
}

.top-left-orange-adaptive {
    opacity: 0;
    transition: opacity 250ms;
}

.footer {
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    height: 126px;
    margin-top: 574px;
    position: absolute;
    width: 1280px;

    transition: width 500ms;
}

@media only screen and (max-width: 1300px) {
    .auth-window-form {
        width: 990px;
        transition: width 500ms;
    }

    .login-form {
        margin-left: 90px;
        margin-top: 66px;
        transition: margin-left, 500ms;
    }

    .footer {
        width: 990px;
        transition: width 500ms;
    }
}

@media only screen and (max-width: 1000px) {
    .auth-window-form {
        background: linear-gradient(90deg, #00224E 0%, #416695 100%);
        width: 700px;
        height: 1030px;
        transition: width 500ms;
    }

    .line-checked {
        left: -10px;
        padding-top: 54px;
        z-index: 9;
    }

    .circle-huge {
        transform: rotate(-90deg);
        top: -392px;
        left: -165px;

        transition: top, left 500ms;
    }

    .circle-medium {
        transform: rotate(-90deg);
        padding-left: 40px;
        top: -100px;
    }

    .meteor-small {
        padding-left: 350px;
    }

    .meteor-small-left {
        padding-left: 510px;
        z-index: 10;
    }

    .meteor-huge {
        padding-left: 320px;
    }

    .top-left-orange {
        display: none;
    }

    .top-left-orange-adaptive {
        opacity: 1;
        padding-top: 202px;
    }

    .header-column {
        height: 500px;
    }

    .main-header {
        height: 94px;
        width: 275px;
        left: 127px;
        top: 140px;
        display: block;
    }

    .subheader {
        left: 133px;
        top: 280px;
    }

    .login-form {
        margin-left: unset;
        margin-top: unset;
        border-radius: unset;
        width: unset;
    }

    .logo {
        margin-left: 100px;
        margin-top: 80px;
    }

    form {
        width: 500px;
        position: absolute;
        margin-left: 100px;
        margin-top: 172px;
    }

    .submit-button {
        width: 100%;
    }

    .footer {
        width: 0px;
        transition: width 500ms;
        opacity: 0;
    }

}