.auth-window {
    background-color: #94B7E3;
}

.auth-window-form {
    overflow: hidden;
    margin: 0 auto;
    width: 1280px;
    height: 700px;
    background: linear-gradient(180deg, #00224E 0%, #416695 100%);
    border-radius: 30px;

    transition: width 500ms;
}


.main-header {
    position: absolute;
    width: 450px;
    height: 34px;
    left: 87px;
    top: 227px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.main-header b {
    font-weight: bold;
}

.subheader {
    position: absolute;
    width: 196px;
    height: 13px;
    left: 93px;
    top: 298px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}


.login-form {
    width: 350px;
    height: 530px;
    margin-left: 222px;
    margin-top: 66px;

    border-radius: 6px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);

    transition: margin-left,  500ms;
}

.logo {
    position: absolute;
    margin-left: 35px;
    margin-top: 20px;
}

form {
    width: 280px;
    position: absolute;
    margin-left: 35px;
    margin-top: 142px
}

.login-form-element-checkbox {
    height: 26px;
    margin-bottom: 20px;
}

.login-form-element {
    height: 59px;
    margin-bottom: 48px;
}


.submit-button {
    border: none;
    padding: unset;
    width: 280px;
    height: 48px;
    background: linear-gradient(89.99deg, #FA9F4F 0%, #FA827C 36.22%, #FF6961 61.45%, #FF8D29 100%);
    background-position: left;
    background-size: 200%;
    border-radius: 12px;
    text-align: center;

    transition: background-position 500ms;
}

.submit-button:hover {
    background-position: right;
    box-shadow: inset 4px 4px 4px rgba(255, 255, 255, 0.25), inset -4px -4px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.submit-button:hover .submit-button-text {
    font-weight: 500;
}

.submit-button:active {
    background: linear-gradient(90deg, #FF6961 0%, #FF8D29 100%);
    box-shadow: inset 4px 4px 10px rgba(132, 74, 24, 0.75), inset -4px -4px 8px rgba(255, 255, 255, 0.75);
}

*{
    outline: none !important;
}

.submit-button-text {
    margin-top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 48px;
    color: #FFFFFF;
}

input[type="password"], input[type="email"] {
    position: absolute;
    width: 100%;
    border: none;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-top: 25px;

    border-bottom: 1px solid #BDBDBD;
    outline: none;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #BDBDBD;

    transition: border-bottom-color 500ms, color 500ms;
}

input::placeholder {
    transition: color 500ms;
    color: #BDBDBD;
}

.login-form-element input:hover, input:hover::placeholder {
    border-color: #416695;
    color: #416695;
}

.login-form-element input:focus, input:focus::placeholder {
    color: #00224E;
    border-color: #00224E;
}

label {
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
    transition: color 500ms;
}

.login-form-element input:focus + label {
    color: #00224E;
}

.login-form-element input:hover + label {
    color: #416695;
}

a {
    position: absolute;
    margin-left: 159px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 26px;
    align-items: center;
    color: #828282 !important;
    transition: color 500ms;
}

a:hover {
    color: #FF8D29 !important;
    cursor: pointer;
}

.login-form-element-checkbox input {
    height: 26px;
    vertical-align: middle;
}

.login-form-element-checkbox label {
    margin-left: 10px;
    line-height: 27px;
    vertical-align: middle;
}

.login-form-element-checkbox input:hover + label{
    color: #416695;
}

.top-left-orange {
    position: absolute;
    width: 310px;
    height: 258px;
    left: -12px;
    top: 235px;

    background: linear-gradient(130.58deg, #FF6961 7.09%, #FF8D29 91.33%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.background-img {
    position: absolute;
}

.auth-window-form img:nth-child(2) {
padding-left: 379px;
}

.auth-window-form img:nth-child(4) {
    padding-top: 404px;
}

.auth-window-form img:nth-child(5) {
padding-left: 568px;
}

.auth-window-form img:nth-child(6) {
padding-left: 599px;
}

.auth-window-form img:nth-child(7) {
    padding-top: 3px;
    padding-left: 758px;
}

.auth-window-form img:nth-child(8) {
    padding-top: 331px;
    padding-left: 718px;
}

.auth-window-form img:nth-child(9) {
    padding-top: 574px;
    width: 1280px;
    transition: width 500ms;
}

@media only screen and (max-width: 1300px) {
    .auth-window-form {
        width: 990px;
        transition: width 500ms;
    }

    .login-form {
        margin-left: 90px;
        margin-top: 66px;
        transition: margin-left,  500ms;
    }

    .auth-window-form img:nth-child(9) {
        width: 990px;
        border-radius: 30px;
        padding-top: 603px;
        transition: width 500ms;
    }
}