.auth-window {
    background-color: #94B7E3;
}

.auth-window-form {
    margin: 0 auto;
    width: 1280px;
    height: 700px;
    background: linear-gradient(180deg, #00224E 0%, #416695 100%);
    border-radius: 30px;
}


.main-header {
    position: absolute;
    width: 450px;
    height: 34px;
    left: 87px;
    top: 227px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.main-header b {
    font-weight: bold;
}

.subheader {
    position: absolute;
    width: 196px;
    height: 13px;
    left: 93px;
    top: 298px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #FFFFFF;
}


.login-form {
    width: 350px;
    height: 530px;
    margin-left: 222px;
    margin-top: 66px;

    border-radius: 6px;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    position: absolute;
    margin-left: 35px;
    margin-top: 20px;
}

form {
    width: 280px;
    position: absolute;
    margin-left: 35px;
    margin-top: 142px
}

.login-form-element:last-child {
    margin-bottom: 0px;
}

.login-form-element {
    margin-bottom: 48px;
}


.submit-button {
    margin-top: 20px;
    padding-top: 14.25px;
    width: 280px;
    height: 48px;
    background: linear-gradient(90deg, rgba(255, 105, 97, 0.8) 0%, rgba(255, 141, 41, 0.8) 100%);
    border-radius: 12px;
    text-align: center;
}

.submit-button-text {
    margin-top: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

input[type="password"], input[type="email"] {
    width: 100%;
    border: none;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-top: 4px;

    border-bottom: 1px solid #BDBDBD;
    outline: none;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    /* Gray 4 */

    color: #BDBDBD;
}

input::placeholder {
    color: #BDBDBD;
}

input:hover, input:hover::placeholder {
    border-color: #416695;
    color: #416695;
}

input:focus, input:focus::placeholder {
    color: #00224E;
    border-color: #00224E;
}

label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
}

input:focus + label {
    color: #00224E;
}

input:hover + label {
    color: #416695;
}

.email-label {
    
}